{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <body>
        <div class="container-xl" id="menu">
            {# display any flash message #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="row">
                {% for category in categories %}
                <div class="col-xl-4 mb-5 mt-5">
                    <div class="card bg-dark p-2">
                        <img src="{{ category.img }}" class="card-img">
                        <div class="card-img-overlay">
                            <div class="card-body bg-light mt-3 pt-5" style="opacity: 95%;">
                                <div class="card-title text-center fs-2"><b>{{ category.name }}</b></div>
                                <div class="card-text text-center"><a href="category/{{ category.id }}" class="btn btn-sm btn-dark p-2 mt-4 mb-4">Klik hier om alle {{ category.name }}'s te zien!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}